@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900,900italic,700italic,400italic");
@import url("normalize.css");
@import url("reset.css");
@import url("amazium.css");
@import url("icons.css");
@import url("jquery.bxslider.css");

body {
	background-color: #fff;
	font: 15px/22px "Lato", "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
	color: #31343D;
	-webkit-font-smoothing: antialiased;
	text-rendering:optimizeLegibility;
}
a { 
	color: #1abc9c;
	outline: 0 none;
	text-decoration: none;
	transition: all 0.25s ease-in-out 0s;
	-moz-transition: all 0.25s ease-in-out 0s;
	-webkit-transition: all 0.25s ease-in-out 0s;
	-o-transition: all 0.25s ease-in-out 0s;
	-ms-transition: all 0.25s ease-in-out 0s;
}
a:hover {
	color: #2fe2bf;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 { margin: 10px 0; padding: 0; font-weight: 900; }
h1  { font-size: 36px; line-height: 40px; }
h2	{ font-size: 30px; line-height: 34px; }
h3 	{ font-size: 24px; line-height: 28px; }
h4 	{ font-size: 18px; line-height: 22px; }
h5 	{ font-size: 14px; line-height: 16px; }
h6 	{ font-size: 12px; line-height: 16px; }

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
::-moz-selection {
	color: #fff;
	background: #f76a4c;
	text-shadow: none;
}
::selection {
	color: #fff;
	background: #f76a4c;
	text-shadow: none;
}
::-moz-focus-inner {
	padding: 0;
	border: 0;
}


/***** Static Menu Styles *****/
@media only screen and (min-width: 768px) {
	.menu-static .menu-bg {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}
	.menu-static .bx-wrapper {
		margin: 70px auto 0;
	}
}

/***** Menu Block *****/
.menu-bg {
	background-color: #fff;
}
.menu {
	height: 70px;
}
.logo-top {
	width: 155px;
	height: 70px;
	margin: 0 auto;
	background: url('../images/logo.png') no-repeat center center transparent;
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	-ms-transition: none;
}
.logo {
	width: 155px;
	height: 70px;
	display: block;
	float: left;
	background: url('../images/logo.png') no-repeat center center;
	margin-right: 20px;
}
.menu-mobile {
	width: auto;
	height: 70px;
	text-align: center;
	color: #979fb2;
	line-height: 70px;
	float: left;
	font-size: 24px;
}
.menu-button {
	transition: all 0.25s ease-in-out 0s;
	-moz-transition: all 0.25s ease-in-out 0s;
	-webkit-transition: all 0.25s ease-in-out 0s;
	-o-transition: all 0.25s ease-in-out 0s;
	-ms-transition: all 0.25s ease-in-out 0s;
}
.menu ul {
	float: left;
	height: auto;
}
.menu ul li {
	font-size: 16px;
	font-weight: 700;
	line-height: 70px;
	padding: 0 10px;
	float: left;
	text-transform: capitalize;
}
.menu ul li a {
	color: #979fb2;
	text-decoration: none;
}
.menu ul li a:hover {
	color: #31343D;
	text-decoration: none;
}
.menu-social {
	width: 70px;
	height: 70px;
	display: block;
	float: right;
	line-height: 70px;
	color: #979fb2;
	text-align: center;
	font-size: 24px;
}
.menu-social:hover {
	color: #ffffff;
	background-color: #f76a4c;
}


/***** Slider Block *****/
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #fff;
}	
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #f76a4c;
}
.bx-wrapper .bx-caption span.big-text {
	font-weight: 900;
	font-size: 25px;
	line-height: 35px;
}
.bx-wrapper .bx-caption span.small-text {
	font-weight: 700;
	font-size: 15px;
	line-height: 25px;
}
.bx-wrapper .slide1 .bx-caption span {
	color:#fff;
}
.bx-wrapper .slide2 .bx-caption span {
	color:#fff;
}
.bx-wrapper .slide3 .bx-caption span {
	color:#fff;
}	

/***** Icon Boxes *****/
.icon-boxes-bg {
	background-color: #fff;
	padding: 80px 0;
}
.icon-box span {
	font-size: 100px;
	text-align: center;
	display: block;
	min-height: 100px;
	margin-bottom: 20px;
}
.icon-box img {
	max-height: 100px;
	width: auto;
}
.icon-box h4, 
.icon-box h4 a, 
.icon-box h4 a:hover {
	color: #31343b;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	font-weight: 900;
	margin-bottom: 20px;
}
.icon-box p, 
.icon-box p a, 
.icon-box p a:hover {
	color: #979fb2;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
}

/***** Text + Button *****/
.text-button-bg {
	padding: 80px 0;
	margin-top: 40px;
	margin-bottom: -20px;
	background: #2980b9 url('../images/module-bg.png') repeat 0 0;
	-webkit-animation:10s linear 0s normal none infinite textbuttonbg;
	   -moz-animation:10s linear 0s normal none infinite textbuttonbg;
		-ms-animation:10s linear 0s normal none infinite textbuttonbg;
		 -o-animation:10s linear 0s normal none infinite textbuttonbg;
			animation:10s linear 0s normal none infinite textbuttonbg;
}

@-webkit-keyframes textbuttonbg {
	from {background-position:0 0;}
	to {background-position:0 -412px;}
}

@-moz-keyframes textbuttonbg {
	from {background-position:0 0;}
	to {background-position:0 -412px;}
}

@-ms-keyframes textbuttonbg {
	from {background-position:0 0;}
	to {background-position:0 -412px;}
}

@-o-keyframes textbuttonbg {
	from {background-position:0 0;}
	to {background-position:0 -412px;}
}

@keyframes textbuttonbg {
	from {background-position:0 0;}
	to {background-position:0 -412px;}
}

.text-button p {
	font-size: 22px;
	line-height: 30px;
	color: #ffffff;
}
a.btn-text {
	display: block;
	padding: 10px 15px;
	background-color: #30333a;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}	
a.btn-text:hover {
	color: #ffffff;
	background-color: #6295d6;
}
.row > .text-button {
	display: inline-block;
	float: none;
	vertical-align: middle;
}

/***** Product Box *****/
.product-box-bg {
	padding: 80px 0;
	background-color: #31343b;
}
.product-box-text {
	padding: 0;
}
.product-box img {
	float: none;
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.product-box p {
	color: #fff;
	font-size: 15px;
	line-height: 24px;
}
.product-box h3 {
	color: #fff;
	font-size: 26px;
	line-height: 36px;
}
.row > .product-box {
	display: inline-block;
	float: none;
	vertical-align: middle;
}


/***** Team *****/
.team-bg {
	background-color: #edeef2;
	padding: 80px 0;
}
.team-bg h3 {
	color: #31343D;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	margin: 0 0 40px 0;
}
.team {
	font-size: 0;
	text-align: center;
}
.team p {
	color: #979FB2;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 40px;		
}
.member {
	display: inline-block;
	float: none;
	background-color: #ffffff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.member .person-img {
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 30px auto 0 auto;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border-radius: 75px;
}
.member h5 {
	color: #31343D;
	font-size: 23px;
	line-height: 30px;
	font-weight: 700;
	margin: 30px 0 0 0;
}
.member p {
	color: #979FB2;
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 20px;
}
.team-social {
	text-align: center;
	margin-bottom: 30px;
}
.team-social a {
	font-size: 21px;
	margin: 10px;
	display: inline-block;
	color: #F76A4C;
}
.team-social a:hover {
	color: #6395D2;
}

/***** Testimonials *****/
.testimonials-bg {
	background-color: #69707A;
	padding: 80px 0;
}
.testimonials-bg h3 {
	color: #ffffff;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	margin: 0 0 40px 0;
}
.testimonials {
	font-size: 0;
	text-align: center;		
}
.testimonial {
	display: inline-block;
	float: none;
}
.bubble {
	background-color: #969FAE;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: inline-block;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	font-style: italic;
	position: relative;
	text-align: left;
	color: #ffffff;
	width: 100%;
}
.bubble span {
	padding: 20px;
	display: block;
}
.testimonial p {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	margin-top: 20px;
	text-align: right;
}

/***** Clients *****/
.clients-bg {
	background-color: #ffffff;
	padding: 80px 0;
}
.clients-bg h3 {
	color: #69707A;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	margin: 0 0 40px 0;
}
.clients ul {
	text-align: center;
	font-size: 0;
}
.clients ul li {
	display: inline-block;
	float: none;
}
.clients ul li img {
	vertical-align: bottom;
	max-width: 100%;
}

/***** Twitter *****/
.twitter-bg {
	background-color: #EDEEF2;
	padding: 40px 0;
}
.twitter-bg h3 {
	color: #69707A;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	margin: 0 0 40px 0;
}
.twitter-bg h3 span {
	color: #69707A;
	margin-right: 20px;
}
.twitter-feed .tweet_list li,
.twitter-feed .tweet_list {
	height: 40px;
}
.twitter-feed .tweet_list {
	overflow-y: hidden;
}
.twitter-feed .tweet_list li img {
	display: none;
}
.twitter-feed .tweet_list li {
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}
.twitter-feed a {
	color: #F76A4C;
}
.twitter-feed a:hover {
	color: #69707A;
}
.tweet_text {
	color: #69707A;	
}
.loading {
	text-align: center;
	color: #ffffff;
}
.tweet_list li {
	display: none;
}

.tweet_list li:first-child {
	display: list-item;
}

/***** Footer *****/
.footer-bg {
	padding: 50px 0;
	background-color: #31343B;
}
.footer-col {
	color: #ffffff;
}
.footer-col h4 {
	color: #F76A4C;
	font-size: 24px;
	line-height: 28px;
	margin: 0 0 20px 0;
	font-weight: 700;		
}
.footer-col p {
	margin-bottom: 20px;
}
.footer-col p a {
	color: #f76a4c;
}
.footer-col p a:hover {
	color: #ffffff;
}
.footer-col ul li {
	margin-bottom: 5px;
	margin-left: 20px;
}
.footer-col ul li span {
	color: #f76a4c;
	margin-left: -20px;
}
.footer-col ul li a {
	color: #ffffff;
	display: inline-block;
	margin-left: 15px;
	vertical-align: top;
}
.footer-col ul li a:hover {
	color: #f76a4c;
}

/***** Copyrights *****/
.copyrights-bg {
	background-color: #464A54;
	padding: 30px 0;
}
.copyrights-col p {
	font-weight: 700;
	color: #69707A;
}
.copyrights-col p span {
	margin-right: 30px;
}
.copyrights-col p a {
	color: #969FAE;
}
.copyrights-col p a:hover {
	color: #fff;
}
.copyrights-col p.copyright-icons {
	text-align: right;
}
.copyrights-col p.copyright-icons a {
	color: #69707A;
	font-size: 21px;
	margin-left: 10px;
}
.copyrights-col p.copyright-icons a:hover {
	color: #fff;
}

/***** Subscribe *****/
.subscribe-bg {
	background: #fff url('../images/bg-subscribe.jpg') top center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 80px 0;
}
.subscribe-bg h3 {
	color: #fff;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	margin: 0 0 40px 0;
}
.subscribe-bg p {
	color: #fff;
}
.form-subscribe {
	width: 450px;
	margin: 40px auto 0 auto;
}
.form-subscribe input {
	width: 270px;
	padding: 0 30px;
	background-color: #edeef2;
	color: #979FB2;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.form-subscribe input:focus {
	color: #31343B;
}
.form-subscribe button {
	width: 120px;
	text-align: center;
	padding: 0;
	background-color: #f76a4c;
	color: #fff;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
}
.form-subscribe button:hover {
	background-color: #6395D2;
}
.form-subscribe input,
.form-subscribe button {
	height: 70px;
	line-height: normal;
	font-size: 15px;
	font-weight: 700;
	border: 0;
	box-shadow: none;
	transition: all 0.25s ease-in-out 0s;
	-moz-transition: all 0.25s ease-in-out 0s;
	-webkit-transition: all 0.25s ease-in-out 0s;
	-o-transition: all 0.25s ease-in-out 0s;
	-ms-transition: all 0.25s ease-in-out 0s;		
}

/***** Price table *****/
.table-1   { background-color: #6395d2; }
.table-2 { background-color: #31343d; }
.table-3    { background-color: #f76a4c; }

.price_table-bg {
	background-color: #fff;
	padding-bottom: 80px;
	padding-top: 80px;
}
.price_table-bg h3 {
	color: #31343D;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	margin: 0 0 40px 0;
}
.price_table {
	text-align: center;
}
.price_table .table {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #edeef2;
	margin-bottom: 20px;
}
.price_table p {
	color: #979FB2;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 40px;		
}
.table h4 {
	color: #fff;
	margin: 0;
	padding: 20px;
	line-height: 1;
	text-transform: uppercase;
	font-size: 32px;
	font-weight: normal;
}
.table .price {
	color: #31343d;
	font-size: 64px;
	font-weight: 900;
	line-height: 1;
	margin-top: 20px;
}
.table .price sup {
	font-size: 28px;
	font-weight: 400;
	line-height: 1.5;
	vertical-align: top;
	top: inherit;
	position: inherit;
}
.table .option {
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: #979FB2;
	margin-bottom: 20px;
}
.table p {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
}
.table ul {
	color: #fff;
	font-size: 16px;
	line-height: 1;
}
.table ul li {
	padding-bottom: 15px;
	padding-top: 15px;
}
.table .action-button {
	background-color: #edeef2;
	padding: 20px;
}
.table .action-button a {
	background-color: #969FAE;
	color: #fff;
	display: block;
	padding: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-size: 20px;
}
.table .action-button a:hover {
	background-color: #31343d;
}

/***** Screen Bigger than 960px *****/
@media only screen and (min-width:1200px) {

/***** Slider Block *****/
.bx-wrapper .bx-caption span.big-text {
	font-size: 30px;
	line-height: 40px;
}
.bx-wrapper .bx-caption span.small-text {
	font-size: 20px;
	line-height: 30px;
}

/***** Twitter *****/
.twitter-feed .tweet_list li,
.twitter-feed .tweet_list {
	height: 20px;
}

}	


/***** Tablet (Smaller than 959px) *****/
@media only screen and (min-width: 768px) and (max-width: 959px) {

/***** Slider Block *****/
.bx-wrapper .bx-caption span.big-text {
	font-size: 25px;
	line-height: 35px;
}
.bx-wrapper .bx-caption span.small-text {
	font-size: 15px;
	line-height: 25px;
}

/***** Product Box *****/
.product-box-text {
	padding-top: 0;
}		
.product-box img {
	max-width: 100%;
}

/***** Team *****/
.team-bg {
	padding: 30px 0;
}
.team-bg h3 {
	margin: 0 0 30px 0;
}
.member {
	margin-bottom: 30px;
	width: 344px;
}

/***** Twitter *****/
.twitter-feed .tweet_list li,
.twitter-feed .tweet_list {
	height: 40px;
}
}	


/***** Phone (portrait 300px) *****/
@media only screen and (max-width: 767px) {

/***** Menu *****/
.menu {
	height: auto;
}
.menu-mobile {
	height: auto;
	line-height: 50px;
}
.menu-right {
	float: right;
}
.menu-button {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}
.menu-button:hover {
	color: #f76a4c;
}
.menu-show {
	height: auto !important;
	padding-bottom: 10px;
}
.menu ul {
	float: left;
	height: 0;
}
.menu ul li {
	line-height: 34px;
	float: none;
	text-align: left;
}
.menu ul li a {
	white-space: nowrap;
}
.menu ul li a:hover {
	color: #31343b;
	text-decoration: none;
}
.menu-social {
	width: 50px;
	height: 50px;
	line-height: 50px;
}

/***** Slider Block *****/
.bx-wrapper .bx-caption {
	display: none !important;
}
.bx-wrapper .bx-caption span.big-text {
	font-size: 15px;
	line-height: 25px;
}
.bx-wrapper .bx-caption span.small-text {
	font-size: 11px;
	line-height: 18px;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom: 10px;
}

/***** Icon Boxes *****/
.icon-box p {
	margin-bottom: 50px;
}

/***** Text + Button *****/
.text-button p {
	margin: 0 10px 20px;
}
a.btn-text {
	margin: 0 10px;
}

/***** Product Box *****/
.product-box-bg {
	padding: 30px 0;
}
.product-box-text {
	padding: 0 0 30px 0;
}
.product-box img {
	margin: 0 auto 30px auto;
}

/***** Team *****/
.team-bg {
	padding: 30px 0;
}
.team-bg h3 {
	margin: 0 0 30px 0;
}
.member {
	margin-bottom: 30px;
}
.team .member:last-child {
	margin-bottom: 10px;
}

/***** Clients *****/
.clients ul li {
	margin: 10px 0;
}

/***** Twitter *****/
.twitter-feed .tweet_list li,
.twitter-feed .tweet_list {
	height: 60px;
}

/***** Footer *****/		
.footer-col ul {
	margin-bottom: 20px;
}	

/***** Copyrights *****/
.copyrights-col p {
	text-align: center;
}		
.copyrights-col p.copyright-icons {
	margin-top: 20px;
	text-align: center;
}

/***** Subscribe *****/
.form-subscribe {
	width: 300px;
}
.form-subscribe input {
	width: 240px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
}
.form-subscribe button {
	width: 300px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}

}	


/***** Phone (landscape 420px) *****/
@media only screen and (min-width: 480px) and (max-width: 767px) {

/***** Slider Block *****/
.bx-wrapper .bx-caption span.big-text {
	font-size: 18px;
	line-height: 30px;
}
.bx-wrapper .bx-caption span.small-text {
	font-size: 13px;
	line-height: 20px;
}

/***** Product Box *****/
.product-box-text {
	padding-top: 0;
}
.product-box img {
	max-width: 100%;
	margin-top: 20px;
}

/***** Team *****/
.team-bg {
	padding: 30px 0;
}
.team-bg h3 {
	margin: 0 0 30px 0;
}
.member {
	margin: 0 auto 30px auto;
	width: 300px;
	float: none;
}
.team .member:last-child {
	margin-bottom: 10px;
}

/***** Clients *****/
.clients ul li {
	display: inline-block;
	float: left;
	width: 228px;
}
.clients ul li img {
	vertical-align: bottom;
	max-width: 100%;
}

/***** Twitter *****/
.twitter-feed .tweet_list li,
.twitter-feed .tweet_list {
	height: 60px;
}

/***** Footer *****/		
.footer-col ul {
	margin-bottom: 20px;
}	

/***** Copyrights *****/
.copyrights-col p {
	text-align: center;
}		
.copyright-icons {
	margin-top: 20px;
	text-align: center;
}

/***** Subscribe *****/
.form-subscribe {
	width: 450px;
}
.form-subscribe input {
	width: 390px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
}
.form-subscribe button {
	width: 450px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}
}