.actions li {
    display: inline-block;
    list-style: none;
	margin:0px 0;
	line-height:24px;
}

.actions a {
    color: #29292a;
    letter-spacing: 2px;
    text-decoration: none;
    opacity:0.8;
        &:hover{
            opacity:1;
        }
}