/*------------------------------------------------ */
/* TABLE OF CONTENT */
/*------------------------------------------------ 

1  - General Base Styles
2  - Header
3  - Main Navigation
4  - Main Header
5  - Live Search
6  - Responsive Navigation
7  - Content
8  - 404 Page
9  - Home Page 
10 - Knowledge Base Page 
11 - Article Page 
12 - Contact Page
13 - Sidebar
14 - Footer
15 - FAQ Pages
16 - Media Queries

-------------------------------------------------- */



/* ==========================================================================
   7 - Content
   ========================================================================== */

.main{ 
   float: right !important;
}

.content {
   padding: 80px 0;
font-family: Lato, sans-serif;

}


/* ==========================================================================
   10 - Knowledge Base Page Template
   ========================================================================== */

.knowledge-base-row {
   // margin-bottom: 10px;
}
.knowledge-base-row span.label {
   border-radius: 2px;
   padding: .2em .5em;
}
.knowledge-base-row span.label a {
   color: #fff;
}
.knowledge-base-row span.label a:hover {
   color: #fff;
   text-decoration: none;
}
.knowledge-base-row span.label:hover {
   background-color: #222;
}
.knowledge-base-row h2 {
   margin-bottom: 15px;
}
.knowledge-base-row ul {
   list-style: none;
   padding-left: 0;
}
.knowledge-base-row li a {
   color: #222;
}
ul.sub-categories {
   margin-bottom: 0;
}
ul.category-posts li, ul.sub-categories li {
   line-height: 1.8em;
}
ul.subcat {
   margin-left:15px;
}

/* ==========================================================================
   13 - Sidebar
   ========================================================================== */

.sidebar ul {
   list-style: none;
   margin-bottom: 0;
   padding-left: 0;
}
.sidebar .widget {
   margin-bottom: 35px;
}
.widget-inner > h3 {
   margin-bottom: 17px;
}
.sidebar ul > li {
   background-color: #fff;
   padding-left: 14px;
   padding-right: 5px;
   margin-bottom: 5px;
}
.sidebar ul > li:hover a, .sidebar ul > li:hover i {
   text-decoration: none;
}
.sidebar li {
   line-height: 2.5em;
}

/* =============================================================================
   15 - FAQ Pages
   ========================================================================== */

ul.faq-category-list, ul.question-list, ul.faq-single-list {
   list-style: none;
   padding-left: 0;
   margin-left: 0;
}
.faq-category-list {
  margin-bottom: 70px;
}
.faq-category-list > li {
  margin-bottom: 40px;
}
.faq-single-list {
  margin-bottom: 80px;
}
.faq-single-list li {
  margin: 0 0 22px 0;
}
.faq-single-list h4 {
  margin: 0;
}
.faq-category-list .faq-section-heading {
  margin-bottom: 18px;
}

.question-list a , .question-list a:hover {
  color: #222;
  line-height: 1.5em;
}

/* faq posts */
.question-detail-list .faq-section-heading {
  margin-top: 60px;
}
article.faq {
  margin-top: 40px;
}
article.faq h3 {
  margin-bottom: 20px;
}
.faq-content {
  padding: 0 0 15px 0;
}
/* accordion */
.faq-accordion .entry-title {
    cursor: pointer;
}
.faq-accordion .question-detail-list {
  margin-bottom: 60px;
}
.faq-accordion .faq-section-heading {
   margin-top: 0;
   margin-bottom: 30px;
}
article.faq {
  border-bottom: none;
  margin: 0;
  padding: 0;
}
article.faq h3 {
  font-size: 22px;
  padding: 4px 0;
  margin: 3px 0;
}
.faq-accordion .faq-content {
  padding: 0 0 15px 43px;
}
.faq-accordion .faq-open span{
}
.faq-accordion .faq-close span{
}
.faq-accordion .faq-close span, .faq-accordion .faq-open span {
  background-color: #222;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  left: 0;
  top: 7px;
  margin-right: 12px;
}
.faq-accordion .faq-close span, .faq-accordion .faq-open span {
   background-color: #3498db!important;
}
.faq .faq-close span, .faq .faq-open span {
  background-color: #3498db!important;
}

/* ==========================================================================
   16 - Media Queries
   ========================================================================== */

@media (max-width: 767px) {
   .box {
      padding: 40px 0 10px;
   }
   .box-video-list {
      padding: 50px 25px 0;
   }
   .knowledge-base-row {
      margin-bottom: 0;
   }
   .kb-category {
      padding-bottom: 50px; 
   }
   .main {
      float:none !important;
      margin-left:0;
   }
}

@media (max-width: 991px) {

   /* Footer */
   .copyright, .footer-info nav, .social-icons {
      float: none;
      text-align: center;
   }
   .box {
      margin-bottom: 25px;
   }

}
